<div class="container-fluid" >

  <div class="row" >

    <div class="col-lg-12 col-md-12 col-sm-12">
      <br>
      <h5>Employee Notification Summary - Regular</h5>
      <app-summary-table></app-summary-table>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" >
      <br>
      <div class="row" >
        <h5> Quick Links </h5>

        <div class="container-fluid" >

          <div class="col-12" >
            <br>
            <button type="button" name="button" class="btn btn-success" style="width:100%" > Upload Excel </button>
          </div>

          <div class="col-12" >
            <br>
            <button type="button" name="button" class="btn btn-success" style="width:100%" > Upload Excel </button>
          </div>

          <div class="col-12" >
            <br>
            <button type="button" name="button" class="btn btn-success" style="width:100%" > Upload Excel </button>
          </div>

        </div>

      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12" style="height: 40vh; overflow-y: auto">
      <br>
      <h5> Employee Department Category </h5>
        <app-summary-table></app-summary-table>
    </div>

  </div>
</div>
