<div class="container-fluid" >

  <div class="row justify-content-center" >

    <!-- <div class="col-12" ><br></div> -->

    <div class="col-lg-7 col-md-7 col-sm-12 divHeight1"  style="overflow-y:auto" >
      <!-- <app-graph></app-graph> -->

      <div class="">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="margin-left:0; margin-right:0">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#reg" style="" (click)="regular()"> Regular  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pro" style="" (click)="pro()"> Professional </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vend" style=""  (click)="third()"> Third Party </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">

          <div id="reg" class="container tab-pane active"  style="overflow:auto;   border-radius:1px; background: linear-gradient(to right, #fff, #f3f3f3);">
            <app-employee-type1></app-employee-type1>
          </div>

          <div id="pro" class="container tab-pane fade" style="overflow:auto;   border-radius:1px; background: linear-gradient(to right, #fff, #f3f3f3);">
            <app-employee-type2></app-employee-type2>
          </div>

          <div id="vend" class="container tab-pane fade" style=" overflow:auto;   border-radius:1px; background: linear-gradient(to right, #fff, #f3f3f3);">
            <app-employee-type3></app-employee-type3>
          </div>

        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 divHeight1" style="height:80vh; overflow-y:auto" >
      <app-notification></app-notification>
    </div>

    <!-- <div class="col-3 col-lg-3 col-md-3 col-sm-12 divHeight1" >

      <div class="row" >

        <div class="col-6 text-center" >
          <br>
          <button class="btn btn-success" > <i class="far fa-file-excel"></i> Upload Excel </button>
        </div>

        <div class="col-6 text-center" >
          <br>
          <button class="btn btn-success" (click)="addAnEmployee()"> <i class="fas fa-user"></i><b>+</b> Employee </button>
        </div>

        <div class="col-12 text-center" >
          <hr>
          <a> <b>Upload History</b> </a>

          <div style="height:250px; overflow-y:auto" >
            <table class="table table-striped"  >
              <thead>
                <tr >
                  <th scope="col">Date & Time</th>
                  <th scope="col">Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of summaryData" >
                  <td>{{data.time}}</td>
                  <td><a><i class="far fa-list-alt"></i></a></td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>

      </div>

    </div>

    <div class="col-8 col-lg-8 col-md-8 col-sm-12 divHeight1" >
      <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Department</th>
            <th scope="col">SPC</th>
            <th scope="col">Employees</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let data of boardTable; let i = index">
            <th scope="row" style="padding:0.20rem" > &nbsp; {{(i+1)}}.</th>
            <td> &nbsp; {{data.name}}</td>
            <td> &nbsp; Rahul </td>
            <td> &nbsp; {{data.noEmp}}</td>
            <td> <button class="btn btn-success" (click)="getBoard(data.bid)" style="margin:0 !important" > Details </button> </td>
          </tr>

        </tbody>
      </table>
    </div> -->

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel"> <a> Add an employee </a></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:500px; overflow-y:auto">

        <div class="form-group" *ngFor="let data of details" >
          <label for="exampleInputEmail1">{{data.type}}</label>
          <input type="text" class="form-control" [(ngModel)]=data.value>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="addEmployee()">Save</button>
      </div>
    </div>
  </div>
</div>
