<div class="" >

  <div class="col-12" >

    <table class="table table-sm sTable" >
      <thead class="sTableBody">
        <tr>
          <th scope="col" >#</th>
          <th *ngFor="let header of headerArray" scope="col" style="text-align: center;">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let content of contentArray; let i = index" >
          <th scope="row">{{i+1}}</th>
          <td style="text-align: center;">{{content.name}}</td>
          <td style="text-align: center;">{{content.noEmp}}</td>
          <td style="text-align: center;"> <button class="btn btn-success" (click)="getDetails(content.bid, content.name)" style="padding-top: .1rem !important; padding-bottom: .1rem !important;"> Details </button> </td>
        </tr>

      </tbody>
    </table>

  </div>

</div>
