<div class="" >

  <div class="col-12" >

    <table class="table table-sm sTable" >
      <thead class="sTableBody">
        <tr>
          <th scope="col" >#</th>
          <th *ngFor="let header of headerArray" scope="col"  style="text-align: center;">{{header}}</th>
        </tr>
      </thead>
      <tbody >
        <tr  *ngFor='let content of contentArray; let i = index'>
          <th scope="row">{{(i+1)}}</th>
          <td *ngFor='let con of content; let j = index' style="text-align: center;">
            <span *ngIf="con.type=='Month'" >{{con.value}}</span>
            <span *ngIf="con.type=='button'" >
              <button *ngIf="con.value == 0" class="btn btn-secondary" style="padding-top: .1rem !important; padding-bottom: .1rem !important;"> {{con.value}} </button>
              <button *ngIf="con.value>0" class="btn btn-success"  style="padding-top: .1rem !important; padding-bottom: .1rem !important;" (click)="getDetails(i,j,con.desc,content[0].value)" > {{con.value}} </button>
            </span>

          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
