$primary-color: #5367ff;
$primary-text-color: #fff;

$primary-color2: slateblue;
$secondary-color: #67d84c;
body{
  color: darkslategray;
  // background-color: #e8e8e8;
  background: linear-gradient(to right, #bdbdbd, #f3f3f3);
}

.navbarSearch{
 background-color: #5267ff;
   color: white;
   border: 1px solid #98a6ff !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a3e892;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}
.primaryBackground{
  background-color: $primary-color !important;
}

.primaryText{
  color: $primary-text-color !important;
}

.divHeight1{
  min-height: 80vh;
  box-shadow: 6px 7px 14px 0px #888888;
  // border: 3px solid #67d84c;
  border-radius: 3px;
  margin: 12px;
  background: #fff;
  overflow-y: auto;
  // margin-top: 25px;
}

a{
  color: $primary-color !important;
}

.nav-tabs{
  border:0px;
}

.nav-tabs .nav-link.active{
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid $primary-color;
}

th{
  color: $primary-color;
}

.bell{
  color:orange;
}

.read{
  color: #03a9f4;
}

.reminder{
  color: #e91e63;
}

.start{
  color:orange;
}

.infoBox{
  border: 2px solid $secondary-color;
}

.infoDiv{
  border: 2px solid $secondary-color;
  height:70px;
}
.table td{
  // padding:0.20rem !important;
  // margin-bottom: 0.1rem !important;
}

.sTable{
  border: 2px solid $secondary-color;
}

.sTableBody{
  background-color: $secondary-color;
  color: #fff
}

td span button.btn.btn-success,td span button.btn.btn-primary, td span button.btn.btn-danger, td span button.btn.btn-warning  {
  padding-top: .1rem !important; padding-bottom: .1rem !important;
}

td {
  padding-top: .1rem !important; padding-bottom: .1rem !important;
}
