<nav class="navbar navbar-expand-lg navbar-light bg-light primaryBackground ">
  <a class="navbar-brand primaryText" [routerLink]="['/home/dashboard']">Admin Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Employee ID" aria-label="Search" [(ngModel)]=id>
        <button class="btn btn-secondary navbarSearch" type="submit" (click)="search()" >Search</button>
      </div>
    </ul>

    <span class="navbar-text primaryText">
      <!-- <input type="text" name="" value="" class="navbarSearc" > &nbsp;  Logout -->
    </span>
    <span class="navbar-text primaryText">
      &nbsp; Logout
    </span>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <p class="text-center"> Developed and maintained by QCI IT-Cell </p> -->
