<nav class="navbar navbar-expand-lg navbar-light bg-light primaryBackground ">
  <a class="navbar-brand primaryText" [routerLink]="['/home/dashboard']">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
    </ul>
    <span class="navbar-text primaryText">
      Logout
    </span>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <br>
<p class="text-center"> Developed and maintained by QCI IT-Cell </p>
<br> -->
